<div class="container text-center">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <h1>SIMULADOS</h1>
            </div>
        </div>
    </div>    
    <div class="row mt-4">
      <div class="col">
        <button type="button" class="btn btn-primary" routerLink="/simuladoBD" >Simulado BD</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-secondary" disabled>EM BREVE</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-secondary" disabled>EM BREVE</button>
      </div>
      <div class="mt-4">
        <h6 class="mt-4">Descrição</h6>
        <p>Esses são os simulados possiveis no momento, futuramente será adicionado outros
            para seu auxilio 😊
        </p>
      </div>
    </div>
  </div>